
# Disable redirects with trailing slashes when URLs match the directory paths
DirectorySlash Off





<IfModule mod_rewrite.c>

RewriteEngine On





# If the URI maps to a file, then do nothing
# RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" -f
# RewriteRule . - [QSA,NC,L]

## -/-/-/-/-/-/
## ~ PROMOTIONS
## -/-/-/-/-/-/
# Get a list of all projects from all clients
RewriteCond "%{REQUEST_METHOD}" GET
RewriteRule ^/?promotions/?$ promotions/scheduled-task.php [QSA,NC,L]



## -/-/-/-/-/-/
## ~ CUSTOMERS
## -/-/-/-/-/-/
# Prepare new customers; assign them UIDs and salepeople
RewriteCond "%{REQUEST_METHOD}" GET
RewriteRule ^/?customers/prepare/?$ customers/prepare/scheduled-task.php [QSA,NC,L]



</IfModule>
